<configuration>
    <system.webServer>
      <handlers>
        <add name="WebClient"
             path="*"
             verb="*"
             modules="FastCgiModule"
             scriptProcessor="C:\Python\python.exe|C:\inetpub\wwwroot\datapython\WebClient\wfastcgi.py"
             resourceType="Unspecified"
             requireAccess="Script" />
      </handlers>
    </system.webServer>
  
    <appSettings>
      <!-- Required settings -->
      <add key="WSGI_HANDLER" value="C:\inetpub\wwwroot\datapython\WebClient\main.app" />
      <add key="PYTHONPATH" value="C:\inetpub\wwwroot\datapython\webclient;C:\inetpub\wwwroot\datapython\util;C:\inetpub\wwwroot\datapython\domain;C:\inetpub\wwwroot\datapython\API;C:\inetpub\wwwroot\datapython\domain\tables;C:\inetpub\wwwroot\datapython\API\tables;C:\inetpub\wwwroot\datapython\domain\views;C:\inetpub\wwwroot\datapython\API\views" />
      <add key="WSGI_LOG" value="C:\inetpub\wwwroot\datapython\WebClient\WebClient_log.txt" />
      <add key="WSGI_PTVSD_ADDRESS" value="127.0.0.1:8878" />
    </appSettings>
  </configuration>